#banner_logo {
background-image: url(../img/pattern.png);
height: 120px;
background-color: rgb(1, 120, 219);
background-position: top;
background-size: 35%;
}

.logo {
    height: 50px;
}

.highlight {
    background-color: yellow;
}

th {
    color: white;
    background-color:rgb(1, 120, 219);
}

.blue_row {
    background-color: lightblue;
}

.Extra1 {
    background-image: url(../img/monitor.jpg);
}

.Extra2 {
    background-image: url(../img/graph.jpg);
}

.Extra1, .Extra2 {
    height: 100px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-weight: bold;
}