#banner_logo {
background-image: url(../img/pattern.png);
height: 120px;
background-color: rgb(1, 120, 219);
background-position: top;
background-size: 35%;
}

.logo {
    height: 50px;
}

.caption {
    margin-top: 0px;
}

.highlight {
    background-color: yellow;
}

ul {
    margin-top: 30px;
    margin-bottom: 30px;
}

th {
    color: white;
    background-color:rgb(1, 120, 219);
    text-align: left;
}

table {
    width: 100%; 
    margin-bottom: 20px;
    border-spacing: 0px;
}

td {
    height: 50px;
    
}

.short {
    width: 25%;
}

.long {
    width: 50%;
}

.blue_row {
    background-color: lightblue;
}

.last_paragraph {
    margin-bottom: 20px;
} 


.Extra1 {
    background-image: url(../img/monitor.jpg);
}

.Extra2 {
    background-image: url(../img/graph.jpg);
}

.Extra1, .Extra2 {
    height: 100px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.bold_grey_text {
    color: grey; 
    font-weight: bold;
}

#blue_text {
    color:royalblue;
}

#small_gray_text {
    font-size: smaller; 
    color: grey;
}